.rankingcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0%;
    flex-grow: 1;
    /* background: red; */
    overflow-x: scroll;
    justify-content: center;
    margin: 20px
    /* padding: 10px; */
}

.rankingbox {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.rankingbox_name {
    font-size: medium;
    margin-left: 5px;
}

.rankingbox_score {
    font-size: small;
}